Python_Core/.ipynb_checkpoints/Python Classes-checkpoint.ipynb
.vscode/settings.json
.vscode/tasks.json
Titanic/.ipynb_checkpoints/Exploratory Data Analysis with Titanic Dataset.12.2019-checkpoint.ipynb
NumPy/utils.py
NumPy/myutils.py
NumPy/myints.txt
NumPy/mycsv.csv
.ipynb_checkpoints/Python Introduction-checkpoint.ipynb
NumPy/.ipynb_checkpoints/Python NumPy_in_class_2019-checkpoint.ipynb
NumPy/.ipynb_checkpoints/Modules-checkpoint.ipynb
NumPy/__pycache__/myutils.cpython-37.pyc
NumPy/__pycache__/utils.cpython-37.pyc
QT/MyApplication.spec
QT/__pycache__/hello.cpython-37.pyc
